@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing Outfit Font 300 and 500 weights */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  background-color: #10141e;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Border around nav profile photo */
.profile {
  border: 0.1rem solid white;
  border-radius: 100%;
}

/* Active hover class for nav  */
.active {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(59deg)
    brightness(200%) contrast(102%);
}
